* {
  margin: 0;
  padding: 0;
  list-style: none;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #222;
}

h2 {
   font-weight: bold;
   font-size: 40px;
  line-height: 60px;
   text-align: center;
}

table, tbody, tr, th, td {
   padding: 0;
   margin: 0;
   border: 1px solid #ddd;
   border-collapse: collapse;
   vertical-align: top;
   width: 100%;
}

table {
   margin: 20px auto;
   width: 90%;
   height: 90%;
   border: 1px solid #ddd;
}

td {
   padding: 5px;
   width: 178px;
}

td > p {
   min-height: 200px;
   text-justify: kashida;
   text-align: justify;
}

.signin {
   text-align: right;
}

.navigation {
   width: 108px;
   min-width: 1px;
}
